{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        }
      }
    ]
  ],
  "plugins": ["@babel/plugin-proposal-nullish-coalescing-operator"]
}